.create-review-form {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
}

.create-review-text-container {
  padding-top: 1.25rem;
  width: 100%;
}

.create-review-text {
  font-size: 0.938rem;
  color: #aaa0eb;
  background-color: #090619;
  border: 0.063rem solid #603592;
  border-radius: 0.625rem;
  box-shadow: 0 0.063rem #b7bdc8;
  padding: 0.25rem 0.625rem;
  margin: 0.188rem;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 0.938rem;
  overflow-wrap: break-word;
  overflow: scroll;
  overflow: auto;
  /* overflow: hidden; */
  resize: vertical;
  box-sizing: border-box;
}

.create-review-text::-webkit-scrollbar {
  width: 0.938rem;
}

.create-review-text::-webkit-scrollbar-track {
  background: #f5f5f5;
  border: 0.063rem #090619 solid;
  border-radius: 0.625rem;
}

.create-review-text::-webkit-scrollbar-thumb {
  background: #090619;
  border: 0.063rem #090619 solid;
  border-radius: 0.625rem;
}

.create-review-text::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.create-review-text::-webkit-scrollbar-corner {

}

.post-review-stars {
  display: flex;
  justify-content: start;
  padding-left: 0.313rem;
  padding-top: 0.313rem;
  color: #160e40;
}

.rate > .fa-solid {
  color: rgb(243, 243, 56);
}

.review-length-error {
  display: none;
}

.review-length-error-error {
  color: red;
  font-size: small;
}
