.create-review-form {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  width: 360px;
}

.create-review-text-container {
  padding-top: 20px;
  width: 100%;
}

.create-review-text {
  font-size: 15px;
  color: #aaa0eb;
  background-color: #090619;
  border: 1px solid #603592;
  border-radius: 10px;
  box-shadow: 0px 1px #b7bdc8;
  padding: 4px 10px;
  margin: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 15px;
  overflow-wrap: break-word;
  overflow: scroll;
  overflow: auto;
  /* overflow: hidden; */
  resize: vertical;
  box-sizing: border-box;
}

.create-review-text::-webkit-scrollbar {
  width: 15px;
}

.create-review-text::-webkit-scrollbar-track {
  background: #f5f5f5;
  border: 1px #090619 solid;
  border-radius: 10px;
}

.create-review-text::-webkit-scrollbar-thumb {
  background: #090619;
  border: 1px #090619 solid;
  border-radius: 10px;
}

.create-review-text::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.create-review-text::-webkit-scrollbar-corner {

}

.post-review-stars {
  display: flex;
  justify-content: start;
  padding-left: 5px;
  padding-top: 5px;
  color: #160e40;
}

.rate > .fa-solid {
  color: rgb(243, 243, 56);
}

.review-length-error {
  display: none;
}

.review-length-error-error {
  color: red;
  font-size: small;
}
