.edit-bar-button-container {
  height: 18.75rem;
  width: 13.563rem;
  overflow-y: auto;
  border: #090619 0.125rem solid;
  border-radius: 0.5rem;
}

.edit-bar-button-button {
  background-color: #73c988;
  padding: 0.313rem;
  border: #090619 solid 0.125rem;
  width: 12.656rem;
  cursor: pointer;
}

.ing-in-bar {
  color: #090619;
  background-color: #808782;
  border: #090619 solid 0.125rem;
}

.edit-bar-button-container::-webkit-scrollbar {
  width: 0.938rem;
  border-radius: 0.625rem;
}

.edit-bar-button-container::-webkit-scrollbar-track {
  background: #f5f5f5;
  border: 0.063rem #090619 solid;
  border-radius: 0.625rem;
}

.edit-bar-button-container::-webkit-scrollbar-thumb {
  background: #090619;
  border: 0.063rem #090619 solid;
  border-radius: 0.625rem;
}
