.rec-ing-ingredient-drop {
  display: flex;
  align-items: center;
}

#ingredient-options {
  width: 195px;
}

#number-options {
  width: 188px;
}

#unit-options {
  width: 195px;
}

.rec-ing-unit-drop {
  display: flex;
  align-items: center;
}
