.one-rec-whole-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 252, 250, .75);
  padding: 0.938rem;
  margin: 1.875rem;
  border-radius: 0.813rem;
}

.one-rec-name-description-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.5rem 0;
}

.one-rec-name-description-rating-toast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-rec-name {

}

.one-rec-description {
  padding-bottom: 0.938rem;
}

.one-rec-rating-toast {
  display: flex;
  align-items: center;
  padding-top: 0.625rem;
}

.one-rec-rating {
  padding-right: 0.625rem;
}

.one-rec-toast-container {
  padding-left: 0.625rem;
}

.one-rec-img {
  border-radius: 0.813rem;
}

.one-rec-ing-container {
  display: flex;
  flex-direction: column;
  margin-top: 9.375rem;
  /* margin-right: 9.375rem; */
}

.one-rec-ing-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2.5rem 0; */
  font-weight: bold;
}

.one-rec-instructions {
  width: 30%;
  display: flex;
  font-weight: normal;
  padding-top: 0.625rem;
  /* margin-left: 9.375rem; */
}

.one-rec-rev-super-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 6% 10%;
}

.one-rec-rev-lesser-container {
  margin-right: 5%;
}

.hidden {
  display: none;
}

.one-rec-revs {
  margin-left: 5%;
}
