.delete-container {
  font-family: 'Open Sans';
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "top-row"
  "text"
  "button";
  padding: 10px;
  color: #fdfdfb;
  background-color: #090619;
  height: 120px;
}

.delete-top-row {
  grid-area: top-row;
  display: flex;
  justify-content: space-between;
}

.delete-header {
  font-size: 15px;
  align-self: center;
}

.delete-x {
  font-size: 15px;
  background: none;
  border: none;
  color: #fdfdfb;
  align-self: center;
  font-weight: 900;
}

.delete-x:hover {
  cursor: pointer;
}


.delete-p {
  font-size: 15px;
}

.delete-button {
  background-color: rgba(172, 29, 53, .9);
  color: #fdfdfb;
  border: #ac1d35 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

.delete-button:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}
