.modal-button-button {
  text-decoration: none;
  color: #090619;
  background-color: rgba(172, 29, 53, .9);
  background-color: rgba(177, 101, 62, .9);
  background-color: rgba(22, 14, 64, .9);
  background-color: rgba(96, 53, 146, .9);
  color: #fdfdfb;
  border: #603592 0.063rem solid;
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin: 0.625rem;
}

.modal-button-button:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}
