.land-main-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.land-main-small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 252, 250, .75);
  border-radius: 0.5rem;
  width: 30%;
  margin: 1.25rem;
}

.land-h1 {
  display: flex;
  justify-content: center;
  /* background-color: rgba(252, 252, 250, .75); */
  border-radius: 0.5rem;
  width: 20%;
}

.land-update-bar {
  text-decoration: none;
  color: #fdfdfb;
  font-size: larger;
  font-weight: 550;
  background-color: rgba(96, 53, 146, .9);
  padding: 0.438rem;
  border: #090619 solid 0.063rem;
  border-radius: 0.625rem;
}

.land-update-bar:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}

.land-rand-rec-container {
  /* background-color: rgba(252, 252, 250, .75); */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.land-rand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.938rem;
}

.land-rand-recipe-image {
  width: 12.5rem;
  padding: 1.25rem;
}

.land-rand-rec-nav {

}

.land-rand-rec-nav > .whole-thing-small-recipe > .small-recipe-image-container > .small-recipe-image {
  width: 12.5rem;
  height: 12.5rem;
  padding: 1.25rem;
}

.land-rand-rec-nav > .whole-thing-small-recipe > .under-pic {
  display: none;
}
