.signup-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  padding: 1.25rem;
  margin: 1.875rem;
}

.signup-h1 {
  padding: 0.625rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.signup-email {
  padding: 0.625rem;
}

.signup-email-name-val {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 0.188rem;
}

.signup-email-name {
  padding-right: 0.625rem;
}

.signup-username {
  padding: 0.625rem;
}

.signup-username-name-val {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 0.188rem;
}

.signup-username-name {
  padding-right: 0.625rem;
}

.signup-dob {
  padding: 0.625rem;
}

.signup-dob-name-val {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 0.188rem;
}

.signup-dob-name {
  padding-right: 0.625rem;
}

.signup-password {
  padding: 0.625rem
}

.signup-password-name-val {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 0.188rem;
}

.signup-password-name {
  padding-right: 0.625rem;
}

.signup-confirm-password {
  padding: 0.625rem
}

.signup-confirm-password-name-val {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 0.188rem;
}

.signup-confirm-password-name {
  padding-right: 0.625rem;
}

.signup-button-container {
  display: flex;flex-direction: column;
  align-self: center;
  padding-top: 1.563rem;
}

.signup-button {
  background-color: #603592;
  color: #fdfdfb;
  border: #603592 0.063rem solid;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
}

.signup-button:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}

.signup-no-account {
  display: flex;
  margin-top: 0.625rem;
}

.signup-no-account > .modal-button {
  text-decoration: underline;
}
