.rev-greater-container {
  padding-top: 1.25rem;
}

.rev-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 9.375rem; */
  margin-bottom: 0.625rem;
}

.rev-name-time {
  display: flex;
  align-items: center;
}

.review-username {
  font-weight: bold;
  padding-left: 0.313rem;
  margin-bottom: 0.188rem;
  /* color: #b6c2cf; */
}

.review-timestamp {
  /* grid-area: NTtime; */
  font-size: 0.75rem;
  color: #808b9d;
  padding-left: 0.625rem;
  margin-bottom: 0.188rem;
}

.review-text {
  display: flex;
  align-items: center;
  color: #76737a;
  background-color: #090619;
  border: 0.063rem solid #e9ebee;
  border-radius: 0.625rem;
  box-shadow: 0 0.063rem #b7bdc8;
  padding: 0.25rem 0.625rem;
  margin: 0.188rem;
  /* width: 82%; */
  /* width: 100%; */
  height: fit-content;
  word-break: break-word;
}

.review-rating-edit-delete {
  display: flex;
  margin-left: 0.313rem;
}

.review-edit {
  grid-area: edit-button;
  background: none;
  border: none;
  text-decoration: underline;
  color: #808b9d;
  font-size: 0.75rem;
}

.review-edit:hover {
  cursor: pointer;
}

.review-dot {
  grid-area: dot;
  color: #808b9d;
  font-size: 0.75rem;
  font-weight: bold;
}

.review-delete {
  grid-area: delete-button;
  background: none;
  border: none;
  text-decoration: underline;
  color: #808b9d;
  font-size: 0.75rem;
}

.review-delete:hover {
  cursor: pointer;
}

.review-delete-hidden {
  display: none;
}

.review-delete-shown {
  position: absolute;
  border: 0.188rem solid #000000;
  border-radius: 0.313rem;
  box-shadow: 0 0.313rem 0.25rem #808b9d;
}

.review-edit-delete {
  grid-area: edit-delete;
  display: flex;
  align-items: baseline;
  padding-left: 0.313rem;
}

.review-edit-delete-hidden {
  display: none;
}
