.delete-rec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  margin: 1.875rem;
}

.delete-rec-header {
  font-size: x-large;
}

.delete-rec-buttons {
  display: flex;
}

.delete-rec-delete-container {

}

.delete-rec-delete-button {
  text-decoration: none;
  color: #090619;
  background-color: rgba(172, 29, 53, .9);
  background-color: rgba(177, 101, 62, .9);
  background-color: rgba(22, 14, 64, .9);
  background-color: rgba(96, 53, 146, .9);
  color: #fdfdfb;
  border: #603592 0.063rem solid;
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin: 0.625rem;
}

.delete-rec-delete-button:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}

.delete-rec-keep-container {

}

.delete-rec-keep-button {
  text-decoration: none;
  color: #090619;
  background-color: rgba(177, 101, 62, .9);
  background-color: rgba(22, 14, 64, .9);
  background-color: rgba(96, 53, 146, .9);
  background-color: rgba(172, 29, 53, .9);
  color: #fdfdfb;
  border: #ac1d35 0.063rem solid;
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin: 0.625rem;
}

.delete-rec-keep-button:hover {
  background-color: rgba(22, 14, 64, .9);
  cursor: pointer;
}
