.my-bar-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 10%; */
}

.my-bar-upper {
  display: flex;
  justify-content: center;
  background-color: rgba(252, 252, 250, .75);
  width: 500px;
  border-radius: 10px;
  margin-top: 30px;
}

.my-bar-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.my-bar-current-ings {
  margin-right: 25px;
  height: 300px;
  width: 217px;
  overflow-y: auto;
  border: #090619 2px solid;
  background-color: #160e40;
  color: #f9d39e;
  border-radius: 8px;
}

.my-bar-possible-ings {
  margin-left: 25px;
}

.my-bar-current-ings::-webkit-scrollbar {
  width: 15px;
}

.my-bar-current-ings::-webkit-scrollbar-track {
  background: #f5f5f5;
  border: 1px #090619 solid;
  border-radius: 10px;
}

.my-bar-current-ings::-webkit-scrollbar-thumb {
  background: #090619;
  border: 1px #090619 solid;
  border-radius: 10px;
}

.my-bar-current-ings::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.my-bar-ingredient-header {
  padding-left: 5px;
  background-color: #160e40;
}

.my-bar-ingredient-ul {
  padding-left: 0px;
  opacity: 0.5;
}

.my-bar-ingredient {
  list-style-type: none;
  padding-left: 5px;
  background-color: #f9d39e;
  color: #090619;
}
