.navigation-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin: 0;
  height: 50px;
  background-color: #090619;
  color: #fcfcfa;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: .85;
}

.nav-left {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  width: 23%;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 20px; */
}

.nav-logo {
  box-sizing: border-box;
  height: 47px;
}

.nav-link {
  color: #fcfcfa;
  text-decoration: none;
}

.nav-create {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

/* .nav-create > .nav-link {
  display: flex;
  justify-content: center;
  background-color: red;
  width: 150%;
} */

.nav-link-special {
  color: #fcfcfa;
  text-decoration: none;
  width: 150%;
}

/* .profile-dropdown {
  position: absolute;
  right: 28px;
  display: flex;
  flex-direction: column;
  border: #603592 1px solid;
  list-style-type: none;
  margin-top: 5px;
}

.profile-login {
  padding: 5px;
}

.profile-signup {
  padding: 5px;
} */

#hidden {
  display: none;
}
