.navigation-container {
  position: sticky;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin: 0;
  height: 3.125rem;
  background-color: #090619;
  color: #fcfcfa;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* opacity: .85; */
}

.nav-left {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  width: 23%;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 1.25rem; */
}

.nav-logo {
  box-sizing: border-box;
  height: 2.938rem;
}

.nav-link {
  color: #fcfcfa;
  text-decoration: none;
}

.nav-create {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

/* .nav-create > .nav-link {
  display: flex;
  justify-content: center;
  background-color: red;
  width: 150%;
} */

.nav-link-special {
  color: #fcfcfa;
  text-decoration: none;
  width: 150%;
}

/* .profile-dropdown {
  position: absolute;
  right: 1.75rem;
  display: flex;
  flex-direction: column;
  border: #603592 0.063rem solid;
  list-style-type: none;
  margin-top: 0.313rem;
}

.profile-login {
  padding: 0.313rem;
}

.profile-signup {
  padding: 0.313rem;
} */

#hidden {
  display: none;
}
